/* body {
    margin: 0;
    font-family: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-left: 2.5rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 2.5rem;
        margin-right: 2.5rem;
    }

    .menu-icon:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

}

.active {
    display: block;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.nav-bar {
    background-color: rgb(3, 119, 109);
}

.logo {
    height: 2.5rem;
    width: 3rem;
    margin-right: .5rem;
}

.nav-li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

.nav-a {
    text-decoration: none;
    color: lightgray;
}

.menu-icon {
    display: none;
}

/* .search-bar {
    padding: .5rem .5rem .5rem 0.5rem;
    font-size: 1rem;
    background: rgb(3, 119, 109);
    color: lightgray;
    border-radius: 4px;
    border: 1px solid lightgray;
    width: 50rem;
}
.search-bar::placeholder {
    color: lightgray;
}

.search-bar:focus {
    border: 1px solid #fff;
} */


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .nav-links {
        display: none;
        margin: 0;
        padding: 0;
    }

    .menu-icon {
        display: block;
        font-size: 3rem;
        color: lightgray;
        cursor: pointer;
        margin-right: .7rem;
    }

    .active {
        display: block;
    }

    /* .search-bar {
        width: 4rem;
    } */
}






















/* 
< !-- < !DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Document</title><link rel="stylesheet" href="/styles.css"></head><nav class="navbar"><div class="container"><a class="logo" href="#"><h1>Logo</h1></a><ul class="nav-links"><li><a href="#">Home</a></li><li><a href="#">About</a></li><li><a href="#">Services</a></li><li><a href="#">Contact</a></li></ul><div class="menu-icon">&#9776;
</div></div></nav><script src="navbar.js"></script></body></html>--> */