
/* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.nav-bar {
    background-color: rgb(3, 119, 109);
}

.logo {
    height: 2.5rem;
    width: 3rem;
    margin-right: .5rem;
}

.nav-li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

.nav-a {
    text-decoration: none;
    color: lightgray;
}

.menu-icon {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .nav-links {
        display: none;
        margin: 0;
        padding: 0;
    }

    .menu-icon {
        display: block;
        font-size: 3rem;
        color: lightgray;
        cursor: pointer;
        margin-right: .7rem;
    }

    .active {
        display: block;
    }

} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background: #192A56;
    padding: .5rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-links {
    display: flex;
} */

.logo {
    height: 2.5rem;
    margin-left: .4rem;
}

.nav-li {
    display: inline;
    margin-right: 2rem;
}



ul {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #00CED1;
}

.menu-icon {
    display: none;
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-right: .7rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        margin: 0;
        padding: 0;
    }

    .show-nav-links {
        display: block;
    }
}





















/* 
< !-- < !DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Document</title><link rel="stylesheet" href="/styles.css"></head><nav class="navbar"><div class="container"><a class="logo" href="#"><h1>Logo</h1></a><ul class="nav-links"><li><a href="#">Home</a></li><li><a href="#">About</a></li><li><a href="#">Services</a></li><li><a href="#">Contact</a></li></ul><div class="menu-icon">&#9776;
</div></div></nav><script src="navbar.js"></script></body></html>--> */