* {
    box-sizing: border-box;
}

body {
    background: url(/Projects/Navbar/pexels-vecislavas-popa-1571459.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    /* background: #00CED1; */
    background: rgb(128, 63, 34);
    flex-wrap: wrap;
    align-items: center;
    /* padding: .5rem .5rem .5rem .2rem; */
}

.menu-icon {
    color: #fff;
    margin: 0 .3rem;
    cursor: pointer;
    font-size: 2.5rem;
}

.bx-x {
    display: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

.bx-x.active {
    display: block;
}

.nav-list {
    transition: max-height .5s;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.active {
    /* display: block; */
    max-height: 1000px;
}

.nav-item {
    list-style: none;
    padding: 1rem 0 1rem .5rem;
    /* text-align: center; */
}

.nav-item:hover {
    /* background: rgb(128, 63, 34); */
    background: rgba(0, 0, 0, 0.5);
    /* color: rgb(128, 63, 34); */
}

.nav-item > a {
    /* color: #192A56; */
    color: #fff;
    text-decoration: none;
}






.logo {
    height: 2.5rem;
    margin: .3rem 0 .3rem .5rem;
    cursor: pointer;
}



@media screen and (min-width: 768px) {

    .navbar {
        align-items: center;

    }
    .nav-list {
        display: flex;
        width: auto;
        margin: 0;
        margin-right: 5rem;
        max-height: 1000px;
    }

    .nav-item {
        margin-right: 4rem;
        padding: 0;
        margin-bottom: 0;
    }



    .nav-item:hover {
        background: none;
    }

    /* .nav-item>a:hover {
            color: rgb(128, 63, 34);
        } */

    .menu-icon {
        display: none;
    }
}

/* Modal */

.h1 {
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1111;
    position: absolute;
    top: 0;
    bottom: 0;
    /* width: 100%; */
}

.modal-content {
    display: none;
    text-align: center;
    background: #fff;
    padding: 1rem 2rem;
    width: 50%;
    margin-left: 2rem;
    border-radius: 6px;
    margin-top: 2rem;
    transition: display .3s;
}

.open-modalBtn {
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    color: rgb(128, 63, 34);
}

.modalBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
}


.modal-active {
    display: block;
}

