body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.accordion-item {
    border-radius: 4px;
    margin: 3rem 0 0 3rem;
    padding: .1rem 0 1rem 1rem;
    width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .accordion-item:hover {
    background-color: dodgerblue;
    .accordion-h1 {
        color: #fff;
    }
} */

.accordion-h1 {
    /* padding: 0; */
    font-weight: bold;
}

.accordion-content {
    /* display: none; */
    /* padding: 0 1rem 1rem  0; */
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
}

.accordion-content.active {
    /* display: block; */
    max-height: 1000px;
}